

<div id="nav">

<div class="dropdown">
  <button class="dropbtn"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> Settings</button>
  <div class="dropdown-content">
        <a href="/admin"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i> Admin</a>
        <a href="/uat"><i class="fa fa-hdd-o fa-fw" aria-hidden="true"></i> Devices</a>
        <a href="/adduser"><i class="fa fa-home fa-fw" aria-hidden="true"></i> Add User</a>
      </div>
    </div>

<ul >

      <li>
         <h2><div id="LOGOUT"> Logged in user is {{ USERNAME[0:] }}  <a href="/logout"> Logout </a></div></h2>

      </li>

</ul>
    </div>

